# Unityが自動生成する巨大なキャッシュ
/[Ll]ibrary/
/[Uu]serSettings/
/[Ll]ogs/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[Mm]emoryCaptures/

# Asset Packages
*.unitypackage
/Assets/AssetStoreTools*
/Assets/Resources*

# Addressables
/[Aa]ssets/[Aa]ddressable[Aa]ssets[Dd]ata/*/*.bin*

# アセット
/[Aa]dventures_woman/
/StompyRobot/
/Kinemation/
/StompyRobot/
/Vefects/
/SRDebugger/
/stompyRobot/
/Assets/StompyRobot*
/Resources/
/Materials/

# フォント関連
*.ttf
/[Ff]onts/
/[Ff]ont/

.mp4
*.mp4

# Photon関連ファイル
/[Pp]oton/
/Photon/

# Visual Studio関連の一時ファイル
.vs/
.vscode/
*.csproj
*.sln
*.user
*.userprefs

*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.opendb

Build/
Builds/